Repository nancylee713/AILanguageTutor_BE, pull requests merged in 2020-01, with the labels that each got.

#19 Update models
  models.py
Labels: back end, phase 2

#18 Creating and logging in users
  .gitignore
  app.py
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/a9424aaa6926_.py
  models.py
  requirements.txt
Labels: back end, phase 2

#20 Add route for creating user_profiles
  app.py
  requirements.txt
Labels: back end, phase 2

#24 Login logout
  app.py
Labels: back end

#35 Seeding
  .env
  .travis.yml
  app.py
  config.py
  generate_content.py
  manage.py
  tests/test_endpoints.py
Labels: back end, phase 3

#34 Merge dev to staging, prepare to deploy to heroku
  .env
  .gitignore
  .travis.yml
  .vscode/settings.json
  Procfile
  app.py
  app_test.py
  config.py
  docs/pull_request_template.md
  generate_content.py
  manage.py
  migrations/README
  migrations/alembic.ini
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/a9424aaa6926_.py
  models.py
  requirements.txt
  tests/test_endpoints.py
Labels: back end

#36 Staging
  .env
  .gitignore
  .travis.yml
  Procfile
  app.py
  app_test.py
  config.py
  generate_content.py
  manage.py
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/a9424aaa6926_.py
  models.py
  requirements.txt
  tests/test_endpoints.py
Labels: back end, phase 3

#37 Staging
  .env
  .travis.yml
  app_test.py
  config.py
  tests/test_endpoints.py
Labels: back end, phase 3

#38 Procfile
  .env
  .travis.yml
  Procfile
  app.py
  app_test.py
  config.py
  requirements.txt
  tests/test_endpoints.py
Labels: back end, phase 3

#40 Ss questions by level
  .travis.yml
  app.py
  tests/test_endpoints.py
Labels: back end

#42 Merge dev into staging
  .travis.yml
  app.py
  tests/test_endpoints.py
Labels: back end, phase 3

#44 Swagger
  README.md
  app.py
  requirements.txt
  static/swagger.json
Labels: back end, phase 3

#46 Staging
  .travis.yml
  Procfile
  README.md
  app.py
  requirements.txt
  static/swagger.json
  tests/test_endpoints.py
Labels: back end, phase 3
